.webapp{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.dark{
    background-color: #343A40;
    color: #F8F9FA;
}

body.dark .offcanvas-body,
body.dark .offcanvas-header{
    background-color: #21252A;
}

body.dark .text-muted{
    color: rgb(198, 198, 198)!important;
}

body.dark .form-select{
    background-color: #6C757D;
    color: #F8F9FA;
}

form{
    flex-wrap: wrap;
}

form > *  {
    flex-grow: 1;
}

.fake-background{
    position: relative;
}

.fake-background::before{
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border-radius: 50%;
    background-color: #FFE083;
}

.overflow-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.overflow-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.random-pokemon-easter-egg{
    position: fixed;
    z-index: -1;
    max-width: 150px;
    opacity: .7;
}

.bottom-left{
    bottom: 0;
    left: 1rem;
    transform: translateY(15%);
}

.top-right{
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translateY(35%) rotate(180deg);
}

.github-picker{
    gap: .2rem;
}